absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1759762205280/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1747091499565/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
cdsapi @ file:///home/conda/feedstock_root/build_artifacts/cdsapi_1759286380559/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
cftime==1.6.4.post1
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743063425/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1734107202838/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1752524171/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1752539128/work
ecmwf-datastores-client @ file:///home/conda/feedstock_root/build_artifacts/ecmwf-datastores-client_1753873184203/work
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1739083394647/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1751573318295/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1748101524683/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1745509358281/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1745213340714/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hf-xet_1755587744/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1754700484541/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1751493861733/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1746561912132/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1750360292101/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.3
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mpi4py_1746789189/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1749813202382/work
multiurl @ file:///home/conda/feedstock_root/build_artifacts/multiurl_1753802409938/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1753814733/work
netCDF4 @ file:///home/ouc/zhuxianrui/environment/netcdf4-python-1.7.1.post1
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1748442461330/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1749099616902/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1751481992986/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1741124588522/work/bazel-bin/python/dist/protobuf-5.29.3-cp311-abi3-linux_x86_64.whl#sha256=1697af3d213954996732a0961863db588821a9b6641aed8358e87dc56d35ad70
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1740663149797/work
pyarrow==20.0.0
pybind11 @ file:///D:/bld/pybind11-split_1747934313674/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1747934270866/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
PySide6==6.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1754674888459/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1752825730876/work/dist/scikit_learn-1.7.1-cp311-cp311-linux_x86_64.whl#sha256=a6d37af0d787620ad78c39ccdabfefdacef8e8d7d141415a7297a6b5d12b51d0
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1754969124679/work/dist/scipy-1.16.1-cp311-cp311-linux_x86_64.whl#sha256=bc891ae29ae6dd774e15471ad14ddb993abb04378605fdd658fccf8b3959ef5b
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shiboken6==6.9.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1751917470932/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1743515515538/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tensorboard_1752825441/work/tensorboard-2.20.0-py3-none-any.whl#sha256=9dc9f978cb84c0723acf9a345d96c184f0293d18f166bb8d59ee098e6cfaaba6
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1728639725131/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=dfb25fedae16e4b9569f95f3100503b292c7118e1b0e3f151c0f09b269563a86
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
timm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_timm_1753370141/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1751416275554/work
torchaudio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchaudio_1749384041/work
torchsummary==1.5.1
torchvision @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision_1753496608/work
torchvision-extra-decoders @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision-extra-decoders_1748570838/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1748003302865/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
triton @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_triton_1750544115/work/python
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1748959427/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692517942/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1749743207754/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
